mixin button(text='click me', modificators=[], href='')
  -
    var classes = [];
    if (modificators.length)
      for (var i = 0; i < modificators.length; i++)
        classes[i] = 'button--' + modificators[i];

  if href
    a.button(class=classes, href=href)&attributes(attributes)= text
  else
    button.button(class=classes)&attributes(attributes)= text
