.form-elements {
  background-color: #ffffff;
}

.form-elements__wrapper {
  margin: 0 auto;
  min-width: 1440px;
  width: 100%;
  max-width: 1440px;
  padding: 0 140px 132px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-elements__column {
  width: 320px;
  &--center {
    margin-left: 52px;
  }
  &--mt-19 {
    margin-top: 19px;
  }
  &--mt-54 {
    margin-top: 54px;
  }
  &--mt-55 {
    margin-top: 55px;
  }
  &--mt-101 {
    margin-top: 101px;
  }
  &--review {
    margin-top: 49px;
    width: 715px;
  }
}

.form-elements__element {
  &--mt-18 {
    margin-top: 18px;
  }
  &--mt-20 {
    margin-top: 20px;
  }
  &--mt-23 {
    margin-top: 23px;
  }
  &--mt-34 {
    margin-top: 34px;
  }
  &--mt-40 {
    margin-top: 40px;
  }
  &--mt-41 {
    margin-top: 41px;
  }
  &--mt-44 {
    margin-top: 44px;
  }
  &--w-265 {
    width: 265px;
  }
}

.form-elements__checkbox-buttons {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-row-gap: 11px;
}

.form-elements__radio-buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 13px;
  grid-row-gap: 11px;
}

.form-elements__label {
  &--head {
    grid-column: 1 / -1;
  }
  &--mb-1 {
    margin-bottom: 1px;
  }
}

.form-elements__toggles {
  display: grid;
  grid-template-columns: max-content;
  grid-row-gap: 9px;
}

.form-elements__like-buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-row-gap: 11px;
  grid-column-gap: 10px;
}

.form-elements__rate-buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}

.form-elements__buttons {
  display: grid;
  grid-template-columns: repeat(9, 33px) 23px;
}

.form-elements__button {
  &--mt-11 {
    margin-top: 11px;
  }
  &--mt-30 {
    margin-top: 30px;
  }
  &--mt-31 {
    margin-top: 31px;
  }
  &--with-full {
    grid-column: 1 / -1;
  }
  &--first-column {
    grid-column: 1 / 4;
  }
  &--second-column {
    grid-column: 4 / 7;
    margin-left: 19px;
  }
  &--first-small-column {
    grid-column: 1 / 3;
  }
  &--second-small-column {
    grid-column: 3 / 6;
    margin-left: 15px;
  }
}

.form-elements__rich-checkboxes {
  display: grid;
  grid-gap: 11px;
}

.form-elements__bullet-list {
  display: grid;
  grid-gap: 9px;
}
