mixin subscribe-form
  form.subscribe-form(action="/subscribe" method="post")
    .subscribe-form__input-block 
      input.subscribe-form__input(type="email" placeholder="Email")
      button.subscribe-form__button.button.button--forward(type="submit")