mixin subscribe-form(action="/")
  form.subscribe-form(action=action, method="post")&attributes(attributes)
    input.subscribe-form__input(type="email" placeholder="Email" name="email")
    button.subscribe-form__button(type="submit")