include ../../library.blocks/rate-button/rate-button.pug
include ../../library.blocks/glide/glide.pug

mixin room-card(roomInfo)
  -var {number, images, rating=0, category='', cost, reviewCount=0} = roomInfo
  .room-card
    .room-card__slider
      +glide(number, images)
    .room-card__info
      .room-card__room-cost
        span.room-card__room №
          span.room-card__room-number #{number}
          span.room-card__room-category #{category}
        span.room-card__cost #{cost}₽
          span.room-card__cost-period в сутки
      .room-card__room-rating
        +rate-button({
          name: 'room-rating-' + number,
          isForFeedback: false,
          startValue: rating
        })
        .room-card__reviews-counter
          span.room-card__reviews #{reviewCount}
          | Отзывов
