mixin filterDateDropdown
  .form__filter-date-dropdown-block
    label.form__filter-date-dropdown-label
      input.form__filter-date-dropdown-input.visually-hidden
      .form__filter-date-dropdown-group
        .form__filter-date-dropdown-group-label filter date Dropdown
        .form__filter-date-dropdown
          //- input.form__filter-date-dropdown-input
          .form__down-arrow
        //- .form__filter-date-dropdown

