include ../colors/colors.pug
include ../types/types.pug

mixin main(colorsListData, typesListData)
  main.main 
    .main__wrapper 
      section.main__colors
        +colors(colorsListData)
      section.main__types
        +types(typesListData)