.range-slider {
  max-width: 266px;
  width: 100%;
}

.range-slider__group {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 123px);
  grid-row-gap: 22px;
  grid-column-gap: 20px;
  padding-bottom: 48px;
}

.range-slider__label {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $dark;
  text-transform: uppercase;
}

.range-slider__visually {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba($dark, 0.5);
  text-transform: uppercase;
  text-align: right;
  letter-spacing: -0.4px;
}

.range-slider {
  .noUi-base {
    grid-column: 1/3;
  }

  .noUi-target {
    background: #ffffff;
    border-radius: 3px;
    border: none;
    box-shadow: unset;
  }

  .noUi-handle {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: -7px;
    box-shadow: unset;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  .noUi-handle.noUi-handle-upper {
    right: 0;
  }

  .noUi-connects {
    height: 6px;
    border-radius: 4px;
    overflow: unset;
    border: 1px solid rgba($dark, 0.25);
  }

  .noUi-connect {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      height: 6px;
      bottom: -1px;
    }
  }
}
