mixin types(typesListData)
  .types 
    ul.types_list 
      each item in typesListData
        li.types__item
          p.types__label(class=item.typesLabelClass)= item.typesLabel
          p.types__text(class=item.typesTextClass)= item.typesText