.types__item {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  &--h2 {
    margin-top: 52px;
  }
  &--h3 {
    margin-top: 51px;
  }
  &--body {
    margin-top: 47px;
  }
}
.types__label {
  margin: 0;
  color: rgba($dark, 0.25);
  width: 37px;
  margin-right: 30px;
  text-align: right;
  &--h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  &--h2 {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
  &--h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  &--body {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
.types__text {
  margin: 0;
  color: rgba($dark, 0.75);
  font-weight: bold;
  text-align-last: left;
  &--h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    width: 370px;
  }
  &--h2 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    width: 315px;
  }
  &--h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    width: 190px;
  }
  &--body {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 305px;
  }
}
