mixin colors(colorsListData)
  .colors
    ul.colors__list
      each item in colorsListData
        li.colors__item
          .colors__cube(class=item.cubeClass)
          .colors__desc
            p.colors__label= item.colorLabel
            p.colors__code= item.colorCode