mixin overlay-glide(images)
  .overlay-glide.glide&attributes(attributes)
    .overlay-glide__track.glide__track(data-glide-el="track")
      ul.overlay-glide__slides.glide__slides
        each image in images
          li.overlay-glide__slide.glide__slide
            img.overlay-glide__img.glide__img(src=require("/src/images/slides/" + image))
