.overlay-glide {
  height: 100%;
}

.overlay-glide__track {
  height: 100%;
}

.overlay-glide__slides {
  height: 100%;
}

.overlay-glide__slide {
  height: 100%;
}

.overlay-glide .glide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
