mixin overlay-glide(images)
  .overlay-glide.glide&attributes(attributes)
    .glide__track(data-glide-el="track")
      ul.glide__slides
        each image in images
          li.glide__slide
            img.glide__img(src=require("/src/images/slides/" + image))
