.rate-button__star-rating--stars {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > span {
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    background-image: url('./star.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rate-button__star-rating--stars > .rate-button__star--active {
  background-image: url('./star-active.svg');
}

.rate-button__star-rating--stars > .rate-button__star--active {
  cursor: default;
}
