mixin uikit-header(classes=[])
  header.uikit-header(class=classes)
    .uikit-header__wrapper
      a.uikit-header__logo(href='/colors-and-types.html')
        img.uikit-header__logo(src=require('/src/common.blocks/uikit-header/logo--uikit.svg'), alt='logo')
