html {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: $dark;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  &--uikit {
    background-color: #f4f4f6;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark;
}
