.wedget {
  width: 150px;
}

.widget__title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $dark;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.widget__item {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  & + & {
    margin-top: 22px;
  }
}

.widget__link {
  color: rgba($dark, 0.5);
}
