.air-datepicker {
  max-width: 320px;
  min-width: 300px;
  width: 300px;
  box-sizing: border-box;
  padding: 14px 10px 11px;
  @media (min-width: $screen-sm) {
    padding: 14px 20px 11px;
    width: 320px;
  }
}

.air-datepicker-nav,
.air-datepicker--buttons {
  border: none;
  padding: 0;
}

.air-datepicker--content {
  padding: 0;
  margin-top: 26px;
}

.air-datepicker--buttons {
  margin-top: 12px;
}

.air-datepicker--pointer {
  display: none;
}

.air-datepicker-nav--title {
  font-family: $primaryFont;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: $dark;
}

.air-datepicker-nav--title:hover,
.air-datepicker-nav--title:active {
  background-color: transparent;
}

.air-datepicker-nav__toggle-month {
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  &--forward {
    background-image: url(./datepicker-forward.svg);
  }
  &--back {
    background-image: url(./datepicker-back.svg);
  }
}

.air-datepicker-nav--action:hover,
.air-datepicker-nav--action:active {
  background-color: transparent;
}

.air-datepicker-body--day-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $primary;
  text-transform: capitalize;
}

.air-datepicker-body--day-names {
  margin: 0;
  grid-auto-rows: 40px;
  grid-template-columns: repeat(7, 40px);
}

.air-datepicker-body--cells.-days- {
  grid-auto-rows: 40px;
  grid-template-columns: repeat(7, 40px);
}

.air-datepicker-cell.-day- {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba($dark, 0.5);
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  z-index: 100;
}

.air-datepicker-cell.-day-.-disabled- {
  color: rgba($dark, 0.25);
}

.air-datepicker-cell.-day-.-disabled-.-range-from-,
.air-datepicker-cell.-day-.-disabled-.-range-to-,
.air-datepicker-cell.-day-.-disabled-.-in-range- {
  background: none;
  background-color: transparent;
  color: rgba($dark, 0.25);
  border: none;
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}

.air-datepicker-cell.-day-.-other-month- {
  color: rgba($dark, 0.25);
}

.air-datepicker-cell.-day-.-other-month-.-selected- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-cell.-day-.-other-month-.-in-range-,
.air-datepicker-cell.-day-.-other-month-.-in-range-.-focus- {
  background: linear-gradient(
    180deg,
    rgba(#bc9cff, 0.25) 0%,
    rgba(#8ba4f9, 0.25) 100%
  );
  font-weight: normal;
  color: rgba($dark, 0.5);
}

.air-datepicker-cell.-day-.-range-from-,
.air-datepicker-cell.-day-.-range-to- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
}

.air-datepicker-cell.-day-.-range-from-::after,
.air-datepicker-cell.-day-.-range-to-::before,
.air-datepicker-cell.-day-.-current-.-min-date-.-in-range-::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(#bc9cff, 0.25) 0%,
    rgba(#8ba4f9, 0.25) 100%
  );
  z-index: -1;
}

.air-datepicker-cell.-day-.-range-from-::after {
  right: 0;
}

.air-datepicker-cell.-day-.-range-to-::before {
  left: 0;
}

.air-datepicker-cell.-day-.-current-.-min-date-.-in-range-::after {
  right: 0;
}

.air-datepicker-cell.-day-.-current-.-min-date-.-in-range-,
.air-datepicker-cell.-day-.-range-from-.-range-to-.-selected- {
  border-radius: 50%;
  font-weight: bold;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
}

.air-datepicker-cell.-day-.-current-.-min-date-.-range-from- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-cell.-day-.-range-to-.-focus-,
.air-datepicker-cell.-day-.-range-from-.-focus- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-cell.-day-.-current-.-min-date-.-selected-.-range-to-,
.air-datepicker-cell.-day-.-range-from-.-range-to-.-selected-,
.air-datepicker-cell.-day-.-range-from-.-range-to-.-selected-.-focus- {
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}

.air-datepicker-cell.-day-.-in-range-,
.air-datepicker-cell.-day-.-in-range-.-focus- {
  border-radius: 0;
  font-weight: normal;
  color: rgba($dark, 0.5);
  background: linear-gradient(
    180deg,
    rgba(#bc9cff, 0.25) 0%,
    rgba(#8ba4f9, 0.25) 100%
  );
}

.air-datepicker-cell.-day-.-disabled-.-focus-,
.air-datepicker-cell.-day-.-disabled-.-focus-.-range-from-,
.air-datepicker-cell.-day-.-disabled-.-other-month-.-focus-,
.air-datepicker-cell.-day-.-disabled-.-other-month-.-focus-.-range-from-,
.air-datepicker-cell.-day-.-disabled-.-other-month-.-focus-.-in-range-,
.air-datepicker-cell.-day-.-disabled-.-other-month-.-range-from-,
.air-datepicker-cell.-day-.-disabled-.-other-month-.-in-range- {
  font-weight: normal;
  color: rgba($dark, 0.25);
  background-color: transparent;
  background: none;
}

.air-datepicker-cell.-day-.-current- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.air-datepicker-cell.-day-.-current-.-selected-,
.air-datepicker-cell.-day-.-current-.-selected-.-focus-,
.air-datepicker-cell.-day-.-focus-.-selected-,
.air-datepicker-cell.-day-.-focus-.-selected-.-range-to-,
.air-datepicker-cell.-day-.-focus-.-selected-.-other-month-,
.air-datepicker-cell.-day-.-other-month-.-focus-.-range-to-,
.air-datepicker-cell.-day-.-other-month-.-focus-.-range-from- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.air-datepicker-cell.-day-.-focus-,
.air-datepicker-cell.-day-.-current-.-focus-,
.air-datepicker-cell.-day-.-other-month-.-focus- {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(#bc9cff, 0.5) 0%,
    rgba(#8ba4f9, 0.5) 100%
  );
}

.air-datepicker-buttons {
  display: flex;
  justify-content: space-between;
}

.air-datepicker-button {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $primary;
  &:hover, &:active {
    background-color: transparent;
    color: rgba($dark, 0.5);
  }
}
