extends ../../layouts/uikit-layout.pug

include ../../common.blocks/uikit-header/uikit-header.pug
include ../../common.blocks/search-card/search-card.pug
include ../../common.blocks/registration-card/registration-card.pug
include ../../common.blocks/login-card/login-card.pug
include ../../common.blocks/booking-card/booking-card.pug
include ../../common.blocks/room-card/room-card.pug

block page-title
  title UI kit - Cards

block header
  +uikit-header(class="uikit-header--transp")

block content
  main.cards
    .cards__wrapper
      .cards__col
        +search-card
        +registration-card
      .cards__col
        +booking-card
        +login-card
      .cards__col
        input.cards__input.visually-hidden
        +room-card({
          number: 888,
          category: "ЛЮКС",
          cost: "9 990",
          rating: 5,
          reviewCount: 145,
          images: ["image-1.min.jpg", "image-2.min.jpg", "image-3.min.jpg"]
        })
        +room-card({
          number: 840,
          category: "",
          cost: "9 900",
          rating: 4,
          reviewCount: 65,
          images: ["image-1.min.jpg", "image-2.min.jpg"]
        })
