.date-dropdown {
  min-width: 260px;
  max-width: 260px;
  @media (min-width: $screen-sm) {
    max-width: 320px;
    width: 100%;
  }
}

.date-dropdown__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.date-dropdown__visually {
  min-width: 120px;
  max-width: 120px;
  @media (min-width: $screen-sm) {
    max-width: 150px;
    width: 100%;
  }
}

.date-dropdown__label {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $dark;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: inline-block;
}

.date-dropdown__field {
  width: 100%;
  color: rgba($dark, 0.75);
  height: 44px;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  position: relative;
  padding: 13px 15px 10px 9px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  @media (min-width: $screen-sm) {
    padding: 11px 15px 10px 14px;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 12px;
    display: inline-block;
    background-image: url(./expand_more.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 10px;
    @media (min-width: $screen-sm) {
      right: 15px;
    }
  }
  &:hover {
    border: 1px solid rgba($dark, 0.75);
  }
  &--active {
    border: 1px solid rgba($dark, 0.75);
    &::after {
      transform: rotateZ(180deg);
    }
  }
}

.date-dropdown__input:focus ~ .date-dropdown__visually > .date-dropdown__field {
  border: 1px solid rgba($dark, 0.75);
}
