include ../label/label.pug

mixin date-dropdown(fromLabel="date Dropdown", toLabel="date Dropdown")
  .date-dropdown.js-date-dropdown&attributes(attributes)
    label.date-dropdown__group
      input.date-dropdown__input.js-date-dropdown__input.visually-hidden
      .date-dropdown__visually
        +label(fromLabel)
        .date-dropdown__field.date-dropdown__field--from.js-date-dropdown__field--from ДД.ММ.ГГГГ
      .date-dropdown__visually
        +label(toLabel)
        .date-dropdown__field.date-dropdown__field--to.js-date-dropdown__field--to ДД.ММ.ГГГГ
