mixin textfield(data)
  .textfield-block&attributes(attributes)
    label.textfield-block__label
      if data.label
        span.textfield-block__label-text= data.label
      if data.state
        span.textfield-block__label-state= data.state
      input.textfield-block__input(type="text", name=data.name, placeholder=data.placeholder)