.headers-and-footers {
  background-color: #f4f4f6;
  padding-bottom: 140px;
}

.headers-and-footers__header--logged-in {
  margin-top: 40px;
}

.headers-and-footers__footer {
  margin-top: 40px;
  &--mobile {
    width: 768px;
    margin: 40px auto 0;
  }
}
