extends ../../layouts/uikit-layout.pug

include ../../common.blocks/uikit-header/uikit-header.pug
include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug

block page-title
  title UI kit - Headers And Footers

block header
  +uikit-header(['uikit-header--transp'])

block content
  main.headers-and-footers
    .headers-and-footers__header.headers-and-footers__header--logged-out
      +header
    .headers-and-footers__header.headers-and-footers__header--logged-in
      +header({
        firstname: "Юлий",
        lastname: "Цезарь"
      })
    .headers-and-footers__footer.headers-and-footers__footer--desktop
      +footer(false, true)
    .headers-and-footers__footer.headers-and-footers__footer--mobile
      +footer(true, true)
