.account {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $screen-lg) {
    justify-content: flex-start;
  }
  &--logged {
    height: 30px;
  }
}

.account__cabinet {
  color: rgba($dark, 0.5);
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-bottom: 1px solid rgba($dark, 0.1);
  @media (min-width: $screen-lg) {
    padding-left: 20px;
    border: none;
    border-left: 1px solid rgba($dark, 0.1);
  }
}

.account__button {
  & + & {
    margin-left: 20px;
  }
}
