.account {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $screen-lg) {
    justify-content: flex-start;
  }
  &--logged {
    height: 30px;
    @media (min-width: $screen-lg) {
      border-left: 1px solid rgba($dark, 0.1);
      padding-left: 19px;
    }
  }
}

.account__cabinet {
  color: rgba($dark, 0.5);
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-bottom: 1px solid rgba($dark, 0.1);
  @media (min-width: $screen-lg) {
    border: none;
  }
}

.account__button {
  &--login {
    padding: 7px 19px 8px;
    min-width: 87px;
  }
  &--register {
    padding: 8px 21px 10px;
    margin-left: 20px;
    letter-spacing: -0.1px;
  }
}
