include ../../library.blocks/button/button.pug

mixin account(account=false)
  if account
    .account.account--logged
      a.account__cabinet(href="/cabinet.html") #{account.firstname} #{account.lastname}
  else
    .account
      .account__button
        +button("войти", ['button--login'], "/login.html")
      .account__button
        +button("Зарегистрироваться", ['button--primary', 'button--register'], "/register.html")
