.account {
  display: flex;
  align-items: center;
  &--logged {
    height: 30px;
  }
}

.account__cabinet {
  color: rgba($dark, 0.5);
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.account__button {
  & + & {
    margin-left: 20px;
  }
}
