include ../../library.blocks/button/button.pug

mixin account(account=false)
  if account
    .account.account--logged
      a.account__cabinet(href="/cabinet.html") #{account.firstname} #{account.lastname}
  else
    .account
      +button("войти", "", {name: "a", href: "/login.html"})(class="account__button account__button--login")
      +button("Зарегистрироваться", "primary", {name: "a", href: "/register.html"})(class="account__button account__button--register")
