mixin dateDropdown
  .form__date-dropdown-block
    label.form__date-dropdown-label
      input.form__date-dropdown-input.visually-hidden
      .form__date-dropdown-group
        .form__date-dropdown-group-label date Dropdown
        .form__date-dropdown.form__date-dropdown--from ДД.ММ.ГГГГ
          .form__down-arrow
      .form__date-dropdown-group
        .form__date-dropdown-group-label date Dropdown
        .form__date-dropdown.form__date-dropdown--to ДД.ММ.ГГГГ
          .form__down-arrow
      //- .form__date-dropdown-from#date-from
      //-   span.form__date-dropdown-label date Dropdown
      //-   input.form__date-dropdown(type="text", name="date-from", placeholder="ДД.ММ.ГГГГ")
      //-   .form__date-down-arrow
      //- .form__date-dropdown-to#date-to
      //-   span.form__date-dropdown-label date Dropdown
      //-   input.form__date-dropdown(type="text", name="date-to", placeholder="ДД.ММ.ГГГГ", disabled="disabled")
      //-   .form__date-down-arrow
      