.subscribe-form {
  max-width: 266px;
  width: 100%;
  position: relative;
}

.subscribe-form__input {
  width: 100%;
  padding: 10px 59px 10px 15px;
  color: rgba($dark, 0.75);
  font-size: 1.4rem;
  line-height: 2.4rem;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid rgba($dark, 0.75);
  }
  &::placeholder {
    color: rgba($dark, 0.25);
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.subscribe-form__button {
  position: absolute;
  width: 44px;
  height: 44px;
  border: none;
  right: 0;
  background: url("./arrow_forward.svg");
  background-repeat: no-repeat;
  background-position: center;
}