.subscribe-form {
  max-width: 260px;
  width: 100%;
  position: relative;
}

.subscribe-form__button {
  position: absolute;
  width: 44px;
  height: 44px;
  border: none;
  right: 0;
  background: url("./arrow_forward.svg");
  background-repeat: no-repeat;
  background-position: center;
}
