include ../textfield/textfield.pug

mixin subscribe-form(action="/")
  form.subscribe-form.js-subscribe-form(action=action, method="post")
    +textfield({
        name: 'email',
        placeholder: 'Email',
        isSubscribe: true
      })
    button.subscribe-form__button(type="submit")
