.radio-button__input:checked ~ .radio-button__label {
  color: rgba($dark, 0.75);
}

.radio-button__input:checked ~ .radio-button__field::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  transform: translate(-50%, -50%);
}

.radio-button__group {
  max-width: 105px;
  display: grid;
  grid-template-columns: 20px 75px;
  grid-gap: 10px;
  align-items: center;
}

.radio-button__field {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid $primary;
  position: relative;
}

.radio-button__label {
  color: rgba($dark, 0.5);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
