$dark: #1F2041;
$primary: #BC9CFF;
$secondary: #6FCF97;

$primaryFont: "Montserrat", sans-serif;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1440px;

@mixin helpLine($color) {
  outline: 2px solid $color; 
  outline-offset: -2px;
}