.bullet-list {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
}
.bullet-list__ul {
  width: 100%;
  color: rgba($dark, 0.75);
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: grid;
  margin-left: 11px;
  grid-row-gap: 10px;
}
.bullet-list__li {
  padding-left: 10px;
  &::marker {
    content: url(./ellipse.svg);
  }
}
