mixin bullet-list(data=["Lorem ipsum dolor", "Eius quo pariatur commodi ex ipsa saepe, sequi."])
  .bullet-list&attributes(attributes)
    ul.bullet-list__ul
      each val in data
        li.bullet-list__li= val
