mixin filter-date-dropdown(label="filter date Dropdown")
  .filter-date-dropdown&attributes(attributes)
    label.filter-date-dropdown__group
      input.filter-date-dropdown__input.visually-hidden
      .filter-date-dropdown__visually
        .filter-date-dropdown__label filter date Dropdown
        .filter-date-dropdown__field Выберите даты