.booking-card {
  min-width: 300px;
  width: 300px;
  padding: 40px 20px 31px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: $primaryFont;
  @media (min-width: $screen-sm) {
    max-width: 380px;
    width: 380px;
    padding: 40px 30px 31px;
  }
}

.booking-card__info {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 21px;
}

.booking-card__room-number {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-left: 4px;
  margin-right: 8px;
}

.booking-card__room-category {
  color: $primary;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.booking-card__cost {
  color: rgba($dark, 0.5);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.booking-card__cost-period {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: normal;
}

.booking-card__date-dropdown {
  margin-bottom: 21px;
}

.booking-card__dropdown {
  margin-bottom: 17px;
}

.booking-card__calculation {
  color: rgba($dark, 0.75);
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: normal;
  margin-bottom: 31px;
  @media (min-width: $screen-sm) {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

.booking-card__base,
.booking-card__service,
.booking-card__additional {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.booking-card__base-data,
.booking-card__service-data,
.booking-card__additional-data {
  max-width: 200px;
  @media (min-width: $screen-sm) {
    max-width: 220px;
  }
}

.booking-card__additional-data {
  line-height: 1.8rem;
}

.booking-card__total {
  color: $dark;
  font-size: 1.9rem;
  line-height: 2.3rem;
  font-weight: bold;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
