mixin maskedTextField(label="")
  .form__masked-textfield-block
    if label
      span.form__label-text= label
    input.form__masked-textfield(type="text", autocomplete="off")&attributes(attributes)