include ../socials/socials.pug

mixin copyright(isOnlyMobile=false)
  .copyright
    .copyright__wrapper(class=isOnlyMobile ? 'copyright__wrapper--mobile' : '')
      .copyright__info(class=isOnlyMobile ? 'copyright__info--mobile' : '') Copyright © 2018 Toxin отель. Все права защищены.
      .copyright__socials
        +socials(
          {
            href: 'https://twitter.com/',
            icon: 'twitter.svg'
          },
          {
            href: 'https://facebook.com/',
            icon: 'facebook.svg'
          },
          {
            href: 'https://www.instagram.com/',
            icon: 'instagram.svg'
          }
        )
