include ../like-button/like-button.pug

mixin review(reviewData)
  .review
    img(src=img, alt="Фото пользователя " + reviewData.author ).review__author-photo
    .review__header 
      .review__author-name= reviewData.author
      .review__date= reviewData.date
    +like-button(true, 10)
    .review__text= reviewData.text