.colors-and-types {
  background-color: #ffffff;
}
.colors-and-types__wrapper {
  margin: 0 auto;
  min-width: 1440px;
  width: 100%;
  max-width: 1440px;
  padding: 2px 157px 145px 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 259px;
}
