.my-pagination.paginationjs {
  padding-top: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.my-pagination.my-pagination--uikit.paginationjs {
  align-items: flex-start;
}

.my-pagination .paginationjs-pages {
  margin-bottom: 8px;
}

.my-pagination .paginationjs-pages li > a,
.my-pagination .paginationjs-pages li.active > a {
  color: rgba($dark, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  font-size: 1.2rem;
}

.my-pagination .paginationjs-pages li > a:hover {
  background: none;
}

.my-pagination .paginationjs-pages li.active > a {
  color: #ffffff;
  font-weight: bold;
  background-color: $primary;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
}

.my-pagination .paginationjs-pages li {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba($dark, 0.5);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:first-child {
    border: none;
    border-radius: 50%;
  }
  &:first-child > a {
    border: none;
    border-radius: 50%;
  }
  &:last-child {
    border: none;
    border-radius: 50%;
  }
  &:last-child > a {
    border: none;
    border-radius: 50%;
  }
}

.my-pagination .paginationjs-pages li.J-paginationjs-previous,
.my-pagination .paginationjs-pages li.J-paginationjs-next {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  & > a {
    background-image: url(./arrow_forward-white.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.my-pagination .paginationjs-pages li.J-paginationjs-previous {
  & > a {
    transform: rotateZ(180deg);
  }
}

.my-pagination .paginationjs-pages li.disabled > a {
  opacity: 1;
}

.my-pagination .paginationjs-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba($dark, 0.75);
  margin-left: 5px;
}
