.doughnut-chart {
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: $screen-lg) {
    flex-direction: row;
    align-items: end;
  }
}

.doughnut-chart__title {
  position: absolute;
  top: 60px;
  left: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $primary;
  text-transform: uppercase;
}

.doughnut-chart__count {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.doughnut-chart__container {
  width: 124px;
}

.doughnut-chart__canvas {
  width: 100%;
  height: 125px;
  transform: rotateX(180deg) rotateZ(180deg);
}

.doughnut-chart__legend {
  width: 161px;
  margin: 20px 0 0;
  @media (min-width: $screen-lg) {
    margin: 0 0 0 27px;
  }
}

.doughnut-chart__legend-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.doughnut-chart__legend-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.doughnut-chart__legend-label {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 0 0 0 5px;
}
