mixin doughnut-chart
  .doughnut-chart
    .doughnut-chart__title #[span.doughnut-chart__count 260] голосов
    canvas.doughnut-chart__canvas(style={position: 'relative', width: '120px', height: '120px'})
    ul.doughnut-chart__legend#room-details__chart-legend
