.glide:hover > .glide__arrows {
  opacity: 1;
  transition: opacity 0.3s;
}
.glide__img {
  // width: 100%;
  // height: auto;
  width: 271px;
  height: 151px;
  object-fit: cover;
}
.glide__arrows {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 151px;
  opacity: 0;
}
.glide__arrow {
  border: none;
  &--left {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &--right {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
.glide__link {
  width: 270px;
  height: 151px;
  display: block;
}
.glide__arrow-icon {
  margin-top: 2px;
  margin-left: 12px;
}
.glide__bullets {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  bottom: 15px;
  right: 15px;
}
.glide__bullet {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  & + & {
    margin-left: 4px;
  }
  &--active {
    background-color: #FFFFFF;
  }
}
