.form__checkbox-button {
  max-width: 222px;
  width: 100%;
}

.form__checkbox-button-group-label {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $dark;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.form__checkbox-button-group {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20px 190px;
  & + & {
    margin-top: 11px;
  }
}

.form__checkbox-button-input:checked ~ .form__checkbox-button-field {
  border: 1px solid $primary;
  background-image: url(/src/images/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox-button-input:hover ~ .form__checkbox-button-field {
  border: 1px solid $primary;
}

.form__checkbox-button-field {
  width: 20px;
  height: 20px;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  background-color: #ffffff;
}

.form__checkbox-button-label {
  color: rgba($dark, 0.5);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
