mixin rangeSlider
  .form__range-slider-block 
    .form__range-slider-label-group
      label.form__range-slider-label-text(for="form__range-slider-input") range slider 
      .form__range-slider-label-input
    .form__range-slider-input-group
      //- input.form__range-slider-input#form__range-slider-input(type="range", min="1000", max="20000", step="500")