.expandable-checkbox-list {
  font-family: $primaryFont;
  max-width: 266px;
  width: 100%;
  min-width: 260px;
  user-select: none;
  &--focused .expandable-checkbox-list__checkbox-buttons {
    max-height: 1000px;
    padding-top: 2px;
    transition: padding-top 0.1s;
  }
  &--focused .expandable-checkbox-list__down-arrow {
    transform: rotateZ(180deg);
    transition: transform 0.5s;
  }
}

.expandable-checkbox-list__down-arrow {
  position: absolute;
  height: 12px;
  width: 12px;
  display: inline-block;
  background-image: url(./expand_more.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 16px;
  bottom: 7px;
  transition: transform 1s;
}

.expandable-checkbox-list__title-group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  &:hover {
    cursor: pointer;
  }
}

.expandable-checkbox-list__checkbox-buttons {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  display: grid;
  grid-row-gap: 10px;
  padding-top: 0;
  transition: padding-top 0.1s;
}
