include ../label/label.pug
include ../checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list(label='expandable checkbox list', isExpanded=false, ...checkboxData)
  .expandable-checkbox-list.js-expandable-checkbox-list(class=isExpanded ? 'expandable-checkbox-list--expanded' : '')
    .expandable-checkbox-list__title-group
      +label(label)
      .expandable-checkbox-list__down-arrow
    .expandable-checkbox-list__checkbox-buttons
      if checkboxData.length
        each val in checkboxData
          +checkbox-button({
            state: val.state,
            value: val.value,
            name: val.name,
            label: val.label
          })
      else
        +checkbox-button
