.checkbox-button {
  font-family: $primaryFont;
  max-width: 227px;
  width: 100%;
  min-width: 227px;
  &--rich {
    max-width: 266px;
    min-width: 266px;
  }
}

.checkbox-button__group {
  width: 100%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  grid-template-columns: 20px 195px;
  &--rich {
    grid-template-columns: 20px 230px;
  }
}

.checkbox-button__input:checked ~ .checkbox-button__field {
  border: 1px solid $primary;
  background-image: url(./checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-button__input:hover ~ .checkbox-button__field {
  border: 1px solid $primary;
}

.checkbox-button__field {
  width: 20px;
  height: 20px;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  top: -1px;
}

.checkbox-button__label {
  color: rgba($dark, 0.5);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  &--rich {
    color: rgba($dark, 0.75);
    font-weight: bold;
  }
}

.checkbox-button__rich-text {
  color: rgba($dark, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  grid-column: 2/3;
}
