.header {
  // @include helpLine(blue);
  background-color: #ffffff;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  min-width: $screen-sm;
  position: relative;
  height: 70px;
  @media (min-width: $screen-lg) {
    max-width: 1240px;
    padding: 0 40px;
  }
}
.header__logo {
  z-index: 20;
  @media (min-width: $screen-lg) {
    z-index: unset;
  }
}
.header__menu {
  top: 21px;
  @media (min-width: $screen-lg) {
    top: unset;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
  }
}
.header__nav {
  padding-right: 20px;
}
// .header__account {
// padding-left: 20px;
// border-left: 1px solid rgba($dark, 0.1);
// height: 30px;
// display: flex;
// align-items: center;
// }
