include ../nav/nav.pug
include ../account/account.pug

mixin header(navContent, accountContent=false)
  header.header
    .header__wrapper
      a.header__logo(href="/")
        img.logo(src=require('/src/images/logo.svg'), alt="logo")
      .header__menu 
        nav.header__nav
          +navList(navContent, false)
        .header__account
          +accountBlock(accountContent)