mixin toggle(data)
  -var { label='Toogle', name, isChecked=false } = data
  .toggle
    label.toggle__group
      if isChecked
        input.toggle__input.visually-hidden(type="checkbox", name=name, checked)
      else
        input.toggle__input.visually-hidden(type="checkbox", name=name)
      span.toggle__field
      span.toggle__label= label
