.filter-date-dropdown {
  max-width: 266px;
  width: 100%;
}

.filter-date-dropdown__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filter-date-dropdown__visually {
  width: 100%;
}

.filter-date-dropdown__field {
  width: 100%;
  height: 44px;
  padding: 10px 15px 10px 15px;
  color: rgba($dark, 0.75);
  font-size: 1.4rem;
  line-height: 1.8rem;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  position: relative;
  &:hover {
    border: 1px solid rgba($dark, 0.75);
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 12px;
    display: inline-block;
    background-image: url(./expand_more.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: 16px;
    top: 0;
  }
  &--active {
    border: 1px solid rgba($dark, 0.75);
    &::after {
      transform: rotateZ(180deg);
    }
  }
}

.filter-date-dropdown__datepicker {
  width: 320px !important;
  padding: 20px !important;
  box-sizing: border-box !important;
}