mixin filter-date-dropdown(label="filter date Dropdown")
  .filter-date-dropdown.js-filter-date-dropdown
    label.filter-date-dropdown__group
      input.filter-date-dropdown__input.js-filter-date-dropdown__input.visually-hidden
      .filter-date-dropdown__visually
        .filter-date-dropdown__field.js-filter-date-dropdown__field Выберите даты
