.textfield {
  max-width: 320px;
  min-width: 260px;
  width: 100%;
  padding: 11px 15px 9px 15px;
  color: rgba($dark, 0.75);
  font-size: 1.4rem;
  line-height: 2.2rem;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid rgba($dark, 0.75);
  }
  &::placeholder {
    font-family: "Montserrat", sans-serif;
    color: rgba($dark, 0.25);
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  &--subscribe {
    padding: 10px 59px 10px 15px;
  }
}

