.textfield {
  max-width: 320px;
  width: 100%;
}

.textfield__input {
  width: 100%;
  height: 44px;
  padding: 8px 15px 10px 15px;
  color: rgba($dark, 0.75);
  font-size: 1.4rem;
  line-height: 2.4rem;
  border: 1px solid rgba($dark, 0.25);
  border-radius: 4px;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid rgba($dark, 0.75);
  }
  &::placeholder {
    font-family: "Montserrat", sans-serif;
    color: rgba($dark, 0.25);
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

