mixin button(buttonText="click me")
  a.form__button(href="#")= buttonText
  button.form__button= buttonText
  span.form__button= buttonText
  button.form__button.form__button--full= buttonText
    span.form__button-arrow
    