mixin subscribeTextField
  .form__subscribe-text-field-block 
    label.form__subscribe-text-field-block-label subscription text field
    input.form__subscribe-text-field-input(type="email" placeholder="Email")
    button.form__subscribe-text-field-button(type="submit")