include ../../library.blocks/textfield/textfield.pug
include ../../library.blocks/radio-button/radio-button.pug
include ../../library.blocks/label/label.pug
include ../../library.blocks/masked-textfield/masked-textfield.pug
include ../../library.blocks/toggle/toggle.pug
include ../../library.blocks/button/button.pug

mixin registration-card
  .registration-card
    form.registration-card__form.js-registration-card__form(action="/registration", method="post")
      fieldset.registration-card__fieldset
        legend.registration-card__legend Регистрация аккаунта
        .registration-card__textfield
          +textfield({
            name: "firstname",
            placeholder: "Имя"
          })
        .registration-card__textfield
          +textfield({
            name: "lastname",
            placeholder: "Фамилия"
          })
        .registration-card__radio-buttons
          +radio-button(
            {
              name: "sex",
              label: "Мужчина",
              value: "male",
              state: true,
            },
            {
              name: "sex",
              label: "Женщина",
              value: "female",
              state: false,
            }
          )
        +label("дата рождения")
        .registration-card__masked
          +masked-textfield("birthday")
        +label("Данные для входа в сервис")
        .registration-card__textfield
          +textfield({
            type: 'email',
            name: 'email',
            placeholder: 'Email'
          })
        .registration-card__textfield
          +textfield({
            type: 'password',
            name: 'password',
            placeholder: 'Пароль'
          })
        .registration-card__toggle
          +toggle({
            label: "Получать спецпредложения",
            name: "special",
            value: "false"
          })
      +button("Перейти к оплате", ["button--full"])
      .registration-card__login
        span.registration-card__text Уже есть аккаунт на Toxin
        +button("войти", [], "/login.html")
