include ../widgets/widgets.pug
include ../copyright/copyright.pug

mixin footer(navigationNavData, aboutNavData, supportNavData, onlyMoblie=false)
  footer.footer 
    .footer__widgets 
      +widgets(navigationNavData, aboutNavData, supportNavData, onlyMoblie)
    .footer__copyright-bar
      +copyright-bar(onlyMoblie)