extends ./layouts/uikit-layout.pug

include ./common.blocks/uikit-header/uikit-header.pug
include ./common.blocks/colors/colors.pug
include ./common.blocks/types/types.pug

block page-title
  title UI kit - Color And Types

block header 
  +uikit-header
block content
  main.uikit-content
    .uikit-content__wrapper.uikit-content__wrapper--colors-and-types
      +colors(
        {
          cubeClass: "colors__cube--dr-100",
          colorLabel: "Dark Shade 100%",
          colorCode: "#1F2041",
        },
        {
          cubeClass: "colors__cube--dr-75",
          colorLabel: "Dark Shade 75%",
          colorCode: "#1F2041",
        },
        {
          cubeClass: "colors__cube--dr-50",
          colorLabel: "Dark Shade 50%",
          colorCode: "#1F2041",
        },
        {
          cubeClass: "colors__cube--dr-25",
          colorLabel: "Dark Shade 25%",
          colorCode: "#1F2041",
        },
        {
          cubeClass: "colors__cube--dr-5",
          colorLabel: "Dark Shade 5%",
          colorCode: "#1F2041",
        },
        {
          cubeClass: "colors__cube--purple",
          colorLabel: "Purple",
          colorCode: "#BC9CFF",
        },
        {
          cubeClass: "colors__cube--green",
          colorLabel: "Green",
          colorCode: "#6FCF97",
        }
      )
      +types(
        {
          typesLabelClass: "types__label--h1",
          typesLabel: "H1",
          typesTextClass: "types__text--h1",
          typesText: "This one is the sub-section or widget title",
          modificator: "types__item--h1"
        },
        {
          typesLabelClass: "types__label--h2",
          typesLabel: "H2",
          typesTextClass: "types__text--h2",
          typesText: "Next one is the item title inside widgets",
          modificator: "types__item--h2"
        },
        {
          typesLabelClass: "types__label--h3",
          typesLabel: "H3",
          typesTextClass: "types__text--h3",
          typesText: "This is a label or CTA text",
          modificator: "types__item--h3"
        },
        {
          typesLabelClass: "types__label--body",
          typesLabel: "Body",
          typesTextClass: "types__text--body",
          typesText: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
          modificator: "types__item--body"
        }
      )