include ./common.blocks/header/header.pug
include ./common.blocks/form/form.pug
include ./common.blocks/bullet-list/bullet-list.pug
include ./common.blocks/info-card/info-card.pug
include ./common.blocks/review/review.pug

include ./common.blocks/button/button.pug
include ./common.blocks/checkbox-button/checkbox-button.pug
include ./common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ./common.blocks/toggle/toggle.pug

- var selectOptions = [
-   {
-     val: "adult",
-     label: "Взрослые",
-   },
-   {
-     val: "child",
-     label: "Дети",
-   },
-   {
-     val: "baby",
-     label: "Младенцы",
-   },
- ];

- var radioData = {
-   name: "sex",
-   values: [
-     {
-       label: "Мужчина",
-       value: "male",
-       state: true,
-     },
-     {
-       label: "Женщина",
-       value: "female",
-       state: false,
-     },
-   ],
- };

var toggleDataChecked = ;
var toggleDataUnchecked = ;

- var rateButtonData = {
-   name: "rate-button",
-   values: [1, 2, 3, 4, 5],
- };

- var reviewData = {
-   author: "Мурад Сарафанов",
-   img: "/src/images/users/guest1.jpg",
-   date: "5 дней назад",
-   text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
- };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.body
    +header({}, false, true, false, false, false, 62)
    main.main
      .main__wrapper.main__wrapper--grid
        +textField("Text Field", "Default")(name="email", placeholder="Email")
        +selectField("Dropdown")
        +maskedTextField("Masked Text Field")(name="birthday", placeholder="ДД.ММ.ГГГГ")
        +dateDropdown
        +filterDateDropdown
        +subscribeTextField
        div
          +checkbox-button({
            state: false, 
            value: "true", 
            name: "smoke", 
            label: "Можно курить"
          })
          +checkbox-button({
            state: true, 
            value: "true", 
            name: "pet", 
            label: "Можно с питомцами"
          })
          +checkbox-button({
            state: true, 
            value: "true", 
            name: "guests", 
            label: "Можно пригласить гостей (до 10 человек)"
          })
        +expandable-checkbox-list(
          "expandable checkbox list",
          {
            label: "Завтрак",
            name: "breakfast",
            val: "true",
            state: false,
          },
          {
            label: "Письменный стол",
            name: "desk",
            val: "true",
            state: true,
          },
          {
            label: "Стул для кормления",
            name: "feedong-chair",
            val: "true",
            state: true,
          },
          {
            label: "Кроватка",
            name: "cot",
            val: "true",
            state: true,
          },
          {
            label: "Телевизор",
            name: "tv",
            val: "true",
            state: false,
          },
          {
            label: "Шампунь",
            name: "shampoo",
            val: "true",
            state: false,
          }
        )
        +rangeSlider
        div(style={display: "flex", "justify-content": "space-between", "flex-wrap": "wrap"})
          +button("click me", "full")
        +radioButton(radioData)
        div 
          +toggle({
            label: "Получать спецпредложения",
            name: "special",
            value: "true"
          })
          +toggle({
            label: "Получать спецпредложения",
            name: "special",
            value: "false",
          })
        +rateButton(rateButtonData)
        div
          +likeButton
          +likeButton(true)
        div
          +pagination
        +bulletList
        div 
          +checkbox-button({
            state: false, 
            value: "wide", 
            name: "corridor", 
            label: "Широкий коридор",
            rich: "Ширина коридоров в номере не менее 91 см."
          })
          +checkbox-button({
            state: false, 
            value: "helper", 
            name: "disabled-person", 
            label: "Помощник для инвалидов",
            rich: "На 1 этаже вас встретит специалист  и проводит до номера."
          })
        div
          +info-card("smile", "Комфорт", "Шумопоглощающие стены")
          +info-card("location", "Удобство", "Окно в каждой из спален")
          +info-card("fire", "Уют", "Номер оснащён камином")
        div(style={'grid-column': '1/3'})
          +review(reviewData)
        
        br 
        br 
        br
        br
        br
        br
        