include ./common.blocks/header/header.pug
include ./common.blocks/bullet-list/bullet-list.pug
include ./common.blocks/info-card/info-card.pug
include ./common.blocks/review/review.pug

include ./common.blocks/button/button.pug
include ./common.blocks/checkbox-button/checkbox-button.pug
include ./common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ./common.blocks/toggle/toggle.pug
include ./common.blocks/radio-button/radio-button.pug
include ./common.blocks/textfield/textfield.pug
include ./common.blocks/filter-date-dropdown/filter-date-dropdown.pug
include ./common.blocks/date-dropdown/date-dropdown.pug
include ./common.blocks/like-button/like-button.pug
include ./common.blocks/rate-button/rate-button.pug
include ./common.blocks/masked-textfield/masked-textfield.pug
include ./common.blocks/range-slider/range-slider.pug
include ./common.blocks/subscribe-form/subscribe-form.pug
include ./common.blocks/dropdown/dropdown.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.body
    +header({}, false, true, false, false, false, 62)
    main.main
      .main__wrapper.main__wrapper--grid
        div 
          +textfield({
            label: "Text Field",
            state: "default",
            name: "email",
            placeholder: "Email"
          })
        +dropdown({
          label: "Сколько гостей",
          buttons: true,
          list: [
            {name: "adult", label: "Взрослые"},
            {name: "child", label: "Дети"},
            {name: "baby", label: "Младенцы"}
          ]
        })(class="uikit-dropdown")
        +dropdown({
          label: "Удобства в комнате",
          buttons: false,
          list: [
            {name: "bedroom", label: "Спальни"},
            {name: "bed", label: "Кровати"},
            {name: "bathroom", label: "Ванные комнаты"}
          ]
        })(class="uikit-dropdown-room")
        +masked-textfield("birthday1")
        +masked-textfield("birthday2")
        +date-dropdown(class="test-date-dropdown")
        +filter-date-dropdown(class="test-date")
        +subscribe-form("/subscribe")
        div
          +checkbox-button({
            state: false, 
            value: "true", 
            name: "smoke", 
            label: "Можно курить"
          })
          +checkbox-button({
            state: true, 
            value: "true", 
            name: "pet", 
            label: "Можно с питомцами"
          })
          +checkbox-button({
            state: true, 
            value: "true", 
            name: "guests", 
            label: "Можно пригласить гостей (до 10 человек)"
          })
        +expandable-checkbox-list(
          "expandable checkbox list",
          {
            label: "Завтрак",
            name: "breakfast",
            val: "true",
            state: false,
          },
          {
            label: "Письменный стол",
            name: "desk",
            val: "true",
            state: true,
          },
          {
            label: "Стул для кормления",
            name: "feedong-chair",
            val: "true",
            state: true,
          },
          {
            label: "Кроватка",
            name: "cot",
            val: "true",
            state: true,
          },
          {
            label: "Телевизор",
            name: "tv",
            val: "true",
            state: false,
          },
          {
            label: "Шампунь",
            name: "shampoo",
            val: "true",
            state: false,
          }
        )
        +range-slider(class="ui-range-slider")
        div(style={display: "flex", "justify-content": "space-between", "flex-wrap": "wrap"})
          +button("click me", "full")
        div 
          +radio-button(
            {
              name: "sex",
              label: "Мужчина",
              value: "male",
              state: true,
            },
            {
              name: "sex",
              label: "Женщина",
              value: "female",
              state: false,
            }
          )
        div 
          +toggle({
            label: "Получать спецпредложения",
            name: "special",
            value: "true"
          })
          +toggle({
            label: "Получать спецпредложения",
            name: "special",
            value: "false",
          })
        div 
          +rate-button({
            name: "rate-button",
            values: [1, 2, 3, 4, 5],
          })
        div
          +like-button
          +like-button(true, 10)
        div
          .data-container 
          .paginate-container 
        +bulletList
        div 
          +checkbox-button({
            state: false, 
            value: "wide", 
            name: "corridor", 
            label: "Широкий коридор",
            rich: "Ширина коридоров в номере не менее 91 см."
          })
          +checkbox-button({
            state: false, 
            value: "helper", 
            name: "disabled-person", 
            label: "Помощник для инвалидов",
            rich: "На 1 этаже вас встретит специалист  и проводит до номера."
          })
        div
          +info-card("smile", "Комфорт", "Шумопоглощающие стены")
          +info-card("location", "Удобство", "Окно в каждой из спален")
          +info-card("fire", "Уют", "Номер оснащён камином")
        div(style={'grid-column': '1/3'})
          +review({
            author: "Мурад Сарафанов",
            img: 'guest1.jpg',
            date: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
          })
        
        br 
        br 
        br
        br
        br
        br
        