extends ./layouts/uikit-layout.pug

include ./common.blocks/uikit-header/uikit-header.pug
include ./library.blocks/bullet-list/bullet-list.pug
include ./library.blocks/info-card/info-card.pug
include ./library.blocks/review/review.pug
include ./library.blocks/label/label.pug
include ./library.blocks/button/button.pug
include ./library.blocks/checkbox-button/checkbox-button.pug
include ./library.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ./library.blocks/toggle/toggle.pug
include ./library.blocks/radio-button/radio-button.pug
include ./library.blocks/textfield/textfield.pug
include ./library.blocks/filter-date-dropdown/filter-date-dropdown.pug
include ./library.blocks/date-dropdown/date-dropdown.pug
include ./library.blocks/like-button/like-button.pug
include ./library.blocks/rate-button/rate-button.pug
include ./library.blocks/masked-textfield/masked-textfield.pug
include ./library.blocks/range-slider/range-slider.pug
include ./library.blocks/subscribe-form/subscribe-form.pug
include ./library.blocks/dropdown/dropdown.pug

block page-title
  title UI kit - Forms Elements

block header
  +uikit-header

block content
  main.main
    .main__wrapper.main__wrapper--grid
      div 
        +label("text field", "default")
        +textfield({
          name: "email",
          placeholder: "Email"
        })
      div 
        +label("checkbox buttons")
        +checkbox-button({
          state: false, 
          value: "true", 
          name: "smoke", 
          label: "Можно курить"
        })
        +checkbox-button({
          state: true, 
          value: "true", 
          name: "pet", 
          label: "Можно с питомцами"
        })
        +checkbox-button({
          state: true, 
          value: "true", 
          name: "guests", 
          label: "Можно пригласить гостей (до 10 человек)"
        })
      div 
        +range-slider(class="ui-range-slider")
      div
        +label("text field", "hover/focus")
        +textfield({
          name: "message",
          placeholder: "This is pretty awesome"
        })
      div
        +label("radio buttons") 
        +radio-button(
          {
            name: "sex",
            label: "Мужчина",
            value: "male",
            state: true,
          },
          {
            name: "sex",
            label: "Женщина",
            value: "female",
            state: false,
          }
        )
      div 
        +button("click me", "primary")
        +button("click me", "primary")
        +button("click me")
        +button("click me")
        +button("click me", "link")
        +button("click me", "link")
        +button("Перейти к оплате", "full")
      div
        +label("dropdown")
        +dropdown({
          label: "Сколько гостей",
          buttons: true,
          list: [
            {name: "adult", label: "Взрослые"},
            {name: "child", label: "Дети"},
            {name: "baby", label: "Младенцы"}
          ]
        })(class="uikit-dropdown")
      div 
        +label("toggle")
        +toggle({
          label: "Получать спецпредложения",
          name: "special",
          value: "true"
        })
        +toggle({
          label: "Получать спецпредложения",
          name: "special",
          value: "false",
        }) 
      div 
        +label("pagination")
        .data-container 
        .paginate-container
      div 
        +label("masked textfield")
        +masked-textfield("birthday1")
      div 
        +label("like button")
        +like-button(false, 2) 
        +like-button(true, 122) 
      div
      div 
        +date-dropdown(class="test-date-dropdown")
      div 
        +label("rate button")
        +rate-button({
          name: "rate-button",
          values: [1, 2, 3, 4, 5],
        }) 
      div 
      div 
        +label("filter date dropdown")
        +filter-date-dropdown(class="test-date")
      div 
      div 
      div 
        +label("subscription text field")
        +subscribe-form("/subscribe")
      div 
      div 
      div
        +label("dropdown", "default")      
        +dropdown({
          label: "Удобства в комнате",
          buttons: false,
          list: [
            {name: "bedroom", label: "Спальни"},
            {name: "bed", label: "Кровати"},
            {name: "bathroom", label: "Ванные комнаты"}
          ]
        })(class="uikit-dropdown-room")
      div 
        +label("dropdown")
        +dropdown({
          label: "Сколько гостей",
          buttons: true,
          list: [
            {name: "adult", label: "Взрослые"},
            {name: "child", label: "Дети"},
            {name: "baby", label: "Младенцы"}
          ]
        })(class="uikit-dropdown-1")
      div 
        +label("dropdown")
        +dropdown({
          label: "Сколько гостей",
          buttons: true,
          list: [
            {name: "adult", label: "Взрослые"},
            {name: "child", label: "Дети"},
            {name: "baby", label: "Младенцы"}
          ]
        })(class="uikit-dropdown-2")
      div
        +label("dropdown", "expanded")      
        +dropdown({
          label: "Удобства в комнате",
          buttons: false,
          list: [
            {name: "bedroom", label: "Спальни"},
            {name: "bed", label: "Кровати"},
            {name: "bathroom", label: "Ванные комнаты"}
          ]
        })(class="uikit-dropdown-room-expanded")
      div 
      div 
      div 
        +expandable-checkbox-list(
          "expandable checkbox list",
          {
            label: "Завтрак",
            name: "breakfast",
            val: "true",
            state: false,
          },
          {
            label: "Письменный стол",
            name: "desk",
            val: "true",
            state: true,
          },
          {
            label: "Стул для кормления",
            name: "feedong-chair",
            val: "true",
            state: true,
          },
          {
            label: "Кроватка",
            name: "cot",
            val: "true",
            state: true,
          },
          {
            label: "Телевизор",
            name: "tv",
            val: "true",
            state: false,
          },
          {
            label: "Шампунь",
            name: "shampoo",
            val: "true",
            state: false,
          }
        )
      div 
        +label("rich checkbox button") 
        +checkbox-button({
          state: false, 
          value: "wide", 
          name: "corridor", 
          label: "Широкий коридор",
          rich: "Ширина коридоров в номере не менее 91 см."
        })
        +checkbox-button({
          state: false, 
          value: "helper", 
          name: "disabled-person", 
          label: "Помощник для инвалидов",
          rich: "На 1 этаже вас встретит специалист  и проводит до номера."
        })
      div 
        +label("bullet list") 
        +bullet-list([
          "Нельзя с питомцами",
          "Без вечеринок и мероприятий",
          "Время прибытия — после 13:00, а выезд до 12:00"
        ])
      div 
        +expandable-checkbox-list(
          "expandable checkbox list",
          {
            label: "Завтрак",
            name: "breakfast",
            val: "true",
            state: false,
          },
          {
            label: "Письменный стол",
            name: "desk",
            val: "true",
            state: true,
          },
          {
            label: "Стул для кормления",
            name: "feedong-chair",
            val: "true",
            state: true,
          },
          {
            label: "Кроватка",
            name: "cot",
            val: "true",
            state: true,
          },
          {
            label: "Телевизор",
            name: "tv",
            val: "true",
            state: false,
          },
          {
            label: "Шампунь",
            name: "shampoo",
            val: "true",
            state: false,
          }
        )  
      div 
      div
      div
        +info-card("smile", "Комфорт", "Шумопоглощающие стены")
        +info-card("location", "Удобство", "Окно в каждой из спален")
        +info-card("fire", "Уют", "Номер оснащён камином") 
      div(style={'grid-column': '2/4'})
        +review({
          author: "Мурад Сарафанов",
          img: 'guest1.jpg',
          date: "5 дней назад",
          text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
        })    
      br 
      hr 

        