include ./common.blocks/header/header.pug
include ./common.blocks/form/form.pug
include ./common.blocks/bullet-list/bullet-list.pug
include ./common.blocks/info-card/info-card.pug
include ./common.blocks/review/review.pug
include ./common.blocks/button/button.pug

- var selectOptions = [
-   {
-     val: "adult",
-     label: "Взрослые",
-   },
-   {
-     val: "child",
-     label: "Дети",
-   },
-   {
-     val: "baby",
-     label: "Младенцы",
-   },
- ];

- var checkboxListData = [
-   {
-     label: "Завтрак",
-     name: "breakfast",
-     val: "true",
-     state: false,
-   },
-   {
-     label: "Письменный стол",
-     name: "desk",
-     val: "true",
-     state: true,
-   },
-   {
-     label: "Стул для кормления",
-     name: "feedong-chair",
-     val: "true",
-     state: true,
-   },
-   {
-     label: "Кроватка",
-     name: "cot",
-     val: "true",
-     state: true,
-   },
-   {
-     label: "Телевизор",
-     name: "tv",
-     val: "true",
-     state: false,
-   },
-   {
-     label: "Шампунь",
-     name: "shampoo",
-     val: "true",
-     state: false,
-   },
- ];

- var radioData = {
-   name: "sex",
-   values: [
-     {
-       label: "Мужчина",
-       value: "male",
-       state: true,
-     },
-     {
-       label: "Женщина",
-       value: "female",
-       state: false,
-     },
-   ],
- };

- var toggleDataChecked = {
-   label: "Получать спецпредложения",
-   name: "special",
-   value: "true",
- };

- var toggleDataUnchecked = {
-   label: "Получать спецпредложения",
-   name: "special",
-   value: "false",
- };

- var rateButtonData = {
-   name: "rate-button",
-   values: [1, 2, 3, 4, 5],
- };

- var reviewData = {
-   author: "Мурад Сарафанов",
-   img: "/src/images/users/guest1.jpg",
-   date: "5 дней назад",
-   text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
- };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.body
    +header({}, false, true, false, false, false, 62)
    main.main
      .main__wrapper.main__wrapper--grid
        +textField("Text Field", "Default")(name="email", placeholder="Email")
        +selectField("Dropdown")
        +maskedTextField("Masked Text Field")(name="birthday", placeholder="ДД.ММ.ГГГГ")
        +dateDropdown
        +filterDateDropdown
        +subscribeTextField
        div
          +checkboxButton(false, "true", "smoke", "Можно курить")
          +checkboxButton(true, "true", "pet", "Можно с питомцами")
          +checkboxButton(true, "true", "guests", "Можно пригласить гостей (до 10 человек)")
        +expandableCheckboxList(checkboxListData)
        +rangeSlider
        div(style={display: "flex", "justify-content": "space-between", "flex-wrap": "wrap"})
          +button("click me", "full")
        +radioButton(radioData)
        div 
          +toggle(toggleDataChecked)
          +toggle(toggleDataUnchecked)
        +rateButton(rateButtonData)
        div
          +likeButton
          +likeButton(true)
        div
          +pagination
        +bulletList
        div 
          +checkboxButton(false, "wide", "corridor", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
          +checkboxButton(false, "helper", "disabled-person", "Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
        div
          +info-card("smile", "Комфорт", "Шумопоглощающие стены")
          +info-card("location", "Удобство", "Окно в каждой из спален")
          +info-card("fire", "Уют", "Номер оснащён камином")
        div(style={'grid-column': '1/3'})
          //- a(style={color: 'red', background: 'green'})
          +review(reviewData)
        br 
        br 
        br
        br
        br
        br
        