include ./common.blocks/header/header.pug
include ./common.blocks/footer/footer.pug

- var headerNavData = {
-   items: [
-     {href: '/about-us', label: 'О нас'},
-     {href: '/services', label: 'Услуги', expand: true},
-     {href: '/vacancies', label: 'Вакансии'},
-     {href: '/news', label: 'Новости'},
-     {href: '/agreements', label: 'Соглашения', expand: true},
-   ],
- };
- var navigationNavData = {
-   title: 'Навигация',
-   items: [
-     {href: '/about-us', label: 'О нас'},
-     {href: '/news', label: 'Новости'},
-     {href: '/support', label: 'Служба поддержки'},
-     {href: '/services', label: 'Услуги'},
-   ],
- };
- var aboutNavData = {
-   title: 'О нас',
-   items: [
-     {href: '/about-service', label: 'О сервисе'},
-     {href: '/team', label: 'Наша команда'},
-     {href: '/vacancies', label: 'Вакансии'},
-     {href: '/investors', label: 'Инвесторы'},
-   ],
- };
- var supportNavData = {
-   title: 'Служба поддержки',
-   items: [
-     {href: '/agreements', label: 'Соглашения'},
-     {href: '/communities', label: 'Сообщества'},
-     {href: '/contact-us', label: 'Связь с нами'},
-   ],
- };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Main
  body.body 
    +header(headerNavData)
    +footer(navigationNavData, aboutNavData, supportNavData)
