.review {
  display: grid;
  max-width: 713px;
  min-width: 300px;
  grid-template-columns: 48px calc(100% - 58px);
  grid-column-gap: 10px;
  grid-row-gap: 11px;
}

.review__author-photo {
  border-radius: 50%;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  width: 48px;
}

.review__header {
  padding-top: 1px;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: rgba($dark, 0.75);
}

.review__author-name {
  font-weight: bold;
}

.review__date {
  margin-top: 2px;
}

.review__text {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba($dark, 0.75);
}

.review__like {
  margin-left: 4px;
  margin-top: 1px;
}
