include ../like-button/like-button.pug

mixin review(reviewData)
  -var {author, img='guest0.jpg', date, likeActive, like, text} = reviewData
  .review
    img.review__author-photo(src=require('/src/images/users/' + img), alt='Фото пользователя ' + author )
    .review__header
      .review__author-name= author
      .review__date= date
    .review__like
      +like-button(likeActive, like)
    .review__text= text
