include ../../library.blocks/textfield/textfield.pug
include ../../library.blocks/button/button.pug

mixin login-card
  .login-card
    form.login-card__form.js-login-card__form(action='/registration', method='post')
      fieldset.login-card__fieldset
        legend.login-card__legend Войти
        .login-card__textfield
          +textfield({
            type: 'email',
            name: 'email',
            placeholder: 'Email'
          })
        .login-card__textfield
          +textfield({
            type: 'password',
            name: 'password',
            placeholder: 'Пароль'
          })
      .login-card__button-submit
        +button('Войти', ['button--full'])
      .login-card__registration
        span.login-card__text Нет аккаунта на Toxin?
        .login-card__button-registration
          +button('создать', [], '/register.html')
