include ../textfield/textfield.pug

mixin masked-textfield(name='masked', value='')
  .masked-textfield
    +textfield({
      name: name,
      placeholder: 'ДД.ММ.ГГГГ',
      value: value,
      jsModifier: 'js-masked-textfield__input'
    })
